{% extends "admin/admin.html" %}

{% block contacto %}
  <h1>Admin/Documentos</h1>
{% endblock contacto %}


{% block body %}
  <h1>Documentos</h1>
  <form method="POST">
      {{ form.csrf_token }}
      <div class="form-group">
        <input type="url" required name="url" 
          placeholder="Agregar url" autocomplete="off">
          
        <input type="text" required name="name" 
          placeholder="Agregar nombre" autocomplete="off" minlength="5">
      </div>
      <br>
      <p>
        {{ form.guardar() }}
      </p>
  </form>
<br>
<hr>
{% for docsurl in docsurl %}
  <div class="card ">
    <a href="/admin/eliminardoc/{{docsurl.id}}" class="close">
    </a>
    <a href="{{docsurl.url}}" target="_blank">
      <img class="img" src="https://cdn1.iconfinder.com/data/icons/free-colorful-icons/360/google_docs.png" width="100" height="100" alt="docs">
    </a>
    <h4>{{docsurl.name}}</h4>
  </div>
{% endfor %}

{% endblock body %}