{% extends "admin/admin.html" %}

{% block contacto %}
  <h1>backgrounds</h1>
{% endblock contacto %}

{% block body %}
<h1> Sube los fondos para las presentaciones</h1>

<form method="POST">
  {{ form.csrf_token }}
  <div class="form-group">
    <input type="url" required name="url" placeholder="Agregar url" autocomplete="off"  minlength="5">
  </div>
  <p>
    {{form.guardar()}}
  </p>
</form>
<br>
<hr>
<br>
<div>
{% for fondos in fondos %}
  <div class="card card-3">
      <a href="/admin/eliminarfondo/{{fondos.id}}" class="close">
      </a>
    <img src="{{fondos.url}}" width="350" height="200" alt="img fondo">
  </div>
{% endfor %}
</div>






{% endblock body %}