{% extends "admin/admin.html" %}

{% block contacto %}
  <h1>backgrounds</h1>
{% endblock contacto %}

{% block body %}
<h1> Sube los fondos para las presentaciones</h1>

<p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</p>

<form  action="/admin/fondos" method="POST" enctype="multipart/form-data"> 
  <input type="file" name="image" id="image" autocomplete="off" required/>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">guardar imagen</button>
</form>

<br>
<hr>
<br>

<div>
  {% for name in image_names %}
    <img src="{{ url_for('static', filename='uploads/' + name) }}" width="200" height="200">
  {% endfor %}
</div>

{% endblock body %}