{% extends "admin/admin.html" %}

{% block body %}
    <h1>Sugerencias</h1>
    <style>
    table.customTable {
      width: 100%;
      background-color: #FFFFFF;
      border-collapse: collapse;
      border-width: 1px;
      border-color: #B6C3D6;
      border-style: solid;
      color: #000000;
    }
    
    table.customTable td, table.customTable th {
      border-width: 1px;
      border-color: #B6C3D6;
      border-style: solid;
      padding: 5px;
    }
    
    table.customTable thead {
      background-color: #CCCBD1;
    }
    </style>
    
<table class="customTable">
  <thead>
    <tr>
      <th>Sugerencia</th>
    </tr>
  </thead>
  <tbody>
    {% for sugess in sugess %}
      <tr>
        <td>{{sugess.sugerencia}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}