{% extends "index.html" %}

{% block contacto %}
<h1>Selecciona el que más te guste</h1>
{% endblock contacto %}

{% block body %}
  
  <br>

<div class="container">
  {% for url_fondos in url_fondos %}
    {% if admin %}
      <a href="/admin/eliminarfondo/{{fondos.id}}" class="close">
    {% endif %}
    <img src="{{url_fondos.url}}" width="350" height="200">
    <a href="{{url_fondos.url}}" target="_blank">
      <i class="btn fas fa-arrow-circle-down"></i>
    </a>
  {% endfor %}
</div>
{% endblock body %}